footer {
    padding: 20px;
} footer form {
    font-size: var(--general-size);
} footer form label, footer form input {
    display: block;
    color: var(--black);
} footer form button {
    background-color: var(--accent-color);
    color: var(--white);
    border-radius: 150px;
    padding: 0.2rem 3rem;
    border: none;
} footer form label {
    margin-bottom: 10px;
    text-align: left;
} footer form input {
    border-radius: 10px;
    padding: 5px 10px;
    border: var(--border-width) solid #4A4A4A;
    margin-bottom: 20px;
} #mail_message {
    height: 20vh;
}

.footer_contact div {
    margin-bottom: 20px;
}  .footer_contact a {
    color: var(--black);
} .footer_contact i, .footer_contact p {
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 720px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    } footer form, .footer_contact {
        width: 90vw;
        max-width: 500px;
        margin-bottom: 40px;
    } footer form label, footer form input  {
        width: 90%;
        max-width: 500px;
    } .footer_contact {
        text-align: center;
    }
}

@media screen and (min-width: 721px) {
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;    
    } footer form {
        width: 40vw;
        max-width: 800px;
    } footer form label, footer form input  {
        width: 100%;
    }

    .footer_contact {
        width: 35vw;
    } 
}