nav {
    position: fixed;
    background: #fafafa;
    opacity: 75%;
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    width: 100%;
    z-index: 10;
} nav li {
    display: inline-block;
} nav button {
    background-color: transparent;
    border-radius: 150px;
    border: 1.5px solid var(--black);
} nav svg {
    margin: 0px 5px;
} .imgNavBar img {
    height: 30px;
} nav a {
    color: unset;
    text-decoration: none;
} #navbar_argentinaPrograma {
    margin-left: 5px;
}


@media screen and (max-width: 520px) {
    #navbar_argentinaPrograma {
        display: none;
    } nav button {
        padding: 0.2rem 1rem;
    } nav {
        padding: 5px;
    } nav ul:first-of-type {
        padding: 0%;
        margin: 0%;
    }
}
@media screen and (min-width: 521px) and (max-width: 720px) {
    nav button {
        padding: 0.2rem 1rem;
    } nav {
        padding: 5px;
    } nav ul:first-of-type {
        padding: 0%;
        margin: 0%;
    }
}

@media screen and (min-width: 721px) {
    nav {
        padding: 5px 20px;
    } nav button {
        padding: 0.2rem 2rem;
    }
}